:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #000000;
    background: url('./assets/bg-img2.jpg') no-repeat center center/cover;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @media (prefers-color-scheme: light) {
      :root {
          color: #213547;
          background-color: #ffffff;
      }
      a:hover {
          color: #747bff;
      }
      button {
          background-color: #f9f9f9;
      }
  }

  @media screen and (max-width: 600px) {
    body {
      float: none;
      width: 100%;
    }
  }

body {
    padding: 10vh;
    
}

.top {
    height: 350px
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 6rem;
    line-height: 1.1;
    margin: 0;
    text-align: center;
}

.app {
    width: 100%;
    height: 75vh;
    position: relative;
    color: hsl(66, 25%, 92%);
}

.app:before {
    content: '';
    background-color: rgba(34, 17, 17, 0.733);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.weather {
    font-size: 4rem;
} 

.app .description {
    position: relative;
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(270deg);
}

.location-name {
    text-align: center;
    font-size: 8rem;
    margin: 0;
}

.top {
    height: 350px;
}

.bottom {
    background-color: #9b86869d;
    margin: 0 15rem 0 15rem;
    padding: 1em 5em 1em 5em;
    border-radius: 15px;
}

span {
    font-weight: 300;
}

.search input {
    padding: .7rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 25px;
    border: solid gray;
    margin: 1em;
}

.search {
    display: flex;
    justify-content: center;
}